<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      {{template "head.html" .}}
    </head>
  </head>

  <body>
    <!-- Navbar Dropdown 1 row -->
    <section>{{ template "header.html" }}</section>

    <main>
      <section>
        <!-- Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- Title -->
          <h2 class="mb-8 text-3xl font-bold md:text-5xl lg:mb-14">
            Meet Grapnel
          </h2>
          <p class="mb-8 max-w-lg text-sm text-[#808080] sm:text-base lg:mb-24">
            Based in Asia, our young and open-minded mindset allows us to adapt
            and thrive in the ever-evolving tech landscape.
            <br />
            <br />
            Whether you need a custom solution, a WordPress website, or a
            Shopify integration, Grapnel is here to tailor our expertise to
            match your unique requirements. Beyond development, we offer
            consultation services for offshoring, ensuring that your business
            benefits from strategic and efficient solutions.
          </p>

          <div class="grid gap-10 lg:grid-cols-2 lg:gap-12">
            <img
              src="/images/people-studying.jpg"
              alt=""
              class="inline-block h-full w-full rounded-2xl object-cover"
            />
            <div
              class="flex flex-col gap-5 rounded-2xl border border-solid border-black p-10 sm:p-20"
            >
              <h2 class="text-3xl font-bold md:text-5xl">What is Grapnel</h2>
              <p class="text-sm text-[#808080] sm:text-base">
                Grapnel, a term traditionally associated with anchors and
                securing, represents our company's commitment to stability,
                security, and reliability in the software industry. Just as a
                grapnel anchor secures a vessel in place amidst changing tides,
                our software solutions offer steadfast reliability and security
                in an ever-evolving digital landscape. We prioritize creating
                software that acts as a reliable anchor for our clients,
                ensuring their digital infrastructure remains consistent and
                safe, even as it adapts to new challenges and environments.
                <br />
                <br />
                At Grapnel, we draw inspiration from the qualities of a strong
                anchor - resilience, adaptability, and security. These
                principles guide our approach to software development, ensuring
                each solution we provide is not only tailored to meet current
                needs but is also robust enough to withstand future changes and
                challenges. Our focus is on integrating our software seamlessly
                into your business framework, anchoring your operations with a
                foundation of security and consistency. This approach enables us
                to deliver software that not only addresses immediate challenges
                but also provides a stable and secure platform for growth and
                adaptation.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="block">{{template "footer.html"}}</footer>
  </body>
</html>
