<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Sys.d</title>
    <link rel="stylesheet" href="/styles/output.css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <script
      src="https://kit.fontawesome.com/40fb23b75c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Gilroy", sans-serif;
      }
    </style>
  </head>
  <script>
    function submitForm(event) {
      event.preventDefault();

      const emailInput = document.getElementById("email-input");
      const email = emailInput.value;

      const jsonData = JSON.stringify({ email });

      // Reference the button element
      const submitButton = document.getElementById("submit-button");

      // Send the POST request using fetch
      fetch("/api/v1/subscribe", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: jsonData,
      })
        .then((response) => response.json())
        .then((data) => {
          // Handle the response
          console.log(data);

          // Check the status in the response
          if (data.status === "success") {
            // Update the button to a green tick
            submitButton.classList.remove("bg-[#276ef1]");
            submitButton.classList.add("bg-green-500");
            submitButton.value = "✅ Subscribed";
          } else {
            submitButton.classList.remove("bg-[#276ef1]");
            submitButton.classList.add("bg-[#f1aa27]");
            submitButton.value = "❌ Failed";
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  </script>

  <body>
    <!-- Navbar Dropdown 1 row -->
    <section>
      <div class="h-auto w-screen">
        <!-- NAVBAR -->
        <nav
          class="font-inter mx-auto h-auto w-full max-w-[1600px] lg:relative lg:top-0"
          x-data="{isOpen: false, menuOne:false}"
        >
          <!-- CONTAINER -->
          <div
            class="flex flex-col px-6 py-6 lg:flex-row lg:items-center lg:justify-between lg:px-10 lg:py-4 xl:px-20"
          >
            <a href="/" class="font-bold flex items-center">
              <i
                class="fa-solid fa-play fa-rotate-90 fa-2xs"
                style="color: #000000"
              ></i>
              <p class="text-lg tracking-widest mx-1">Sys.d Solutions</p>
            </a>

            <!-- MENU CONTENT 1 -->
            <div
              class="mt-14 flex flex-col gap-8 lg:mt-0 lg:flex lg:flex-row lg:space-x-1 lg:space-y-0 justify-center items-center"
              x-bind:class="isOpen ? 'show' : 'hidden'"
            >
              <a
                href="/"
                class="rounded-lg lg:px-6 lg:py-4 lg:hover:bg-gray-50 lg:hover:text-[#d6a701]"
                >Home</a
              >
              <a
                href="/about"
                class="font-Gilroy rounded-lg lg:px-6 lg:py-4 lg:hover:bg-gray-50 transition lg:hover:text-[#d6a701]"
                >About</a
              >
              <a
                href="/portfolio"
                class="rounded-lg lg:px-6 lg:py-4 lg:hover:bg-gray-50 lg:hover:text-[#d6a701]"
                >Portfolio</a
              >
              <a
                href="/blog"
                class="mb-6 font-inter rounded-lg lg:px-6 lg:py-4 lg:hover:bg-gray-50 lg:hover:text-[#d6a701]"
                >Blog</a
              >
            </div>
            <!-- MENU CONTENT 2 -->
            <div
              class="pl-4 flex flex-col space-y-8 lg:flex lg:flex-row lg:space-x-3 lg:space-y-0 justify-between"
              x-bind:class="isOpen ? 'show' : 'hidden'"
            >
              <a
                href="#"
                class="relative mr-5 inline-block rounded-xl border border-[#1353FE] bg-white px-8 py-4 text-center font-semibold text-[#1353FE] [box-shadow:rgb(0,0,0)_6px_6px] hover:border-black md:mr-6"
                >Get In Touch</a
              >
            </div>
            <!-- BURGER MENU -->
            <a
              href="#"
              class="absolute right-5 lg:hidden"
              x-on:click.prevent="isOpen = !isOpen"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.75 12H20.25"
                  stroke="#160042"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.75 6H20.25"
                  stroke="#160042"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.75 18H20.25"
                  stroke="#160042"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </section>

    <main>
      <section>
        <!-- Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- Title -->
          <h2 class="mb-8 text-3xl font-bold md:text-5xl lg:mb-14">
            Meet Sys.d
          </h2>
          <p class="mb-8 max-w-lg text-sm text-[#808080] sm:text-base lg:mb-24">
            Based in Asia, our young and open-minded mindset allows us to adapt
            and thrive in the ever-evolving tech landscape.
            <br />
            <br />
            Whether you need a custom solution, a WordPress website, or a
            Shopify integration, Sys.d is here to tailor our expertise to match
            your unique requirements. Beyond development, we offer consultation
            services for offshoring, ensuring that your business benefits from
            strategic and efficient solutions.
          </p>

          <div class="grid gap-10 lg:grid-cols-2 lg:gap-12">
            <img
              src="/static/people-studying.jpg"
              alt=""
              class="inline-block h-full w-full rounded-2xl object-cover"
            />
            <div
              class="flex flex-col gap-5 rounded-2xl border border-solid border-black p-10 sm:p-20"
            >
              <h2 class="text-3xl font-bold md:text-5xl">What is Sys.d</h2>
              <p class="text-sm text-[#808080] sm:text-base">
                Sys.d, shorthand for System Dynamics, is our foundational
                principle for understanding intricate relationships and
                behaviors within dynamic systems over time. In software
                development, it means gaining insights into how diverse
                components interact within a broader framework, ensuring our
                solutions aren't standalone but harmonize seamlessly.
                <br />
                <br />
                At Sys.d, System Dynamics guides our philosophy. We leverage
                this principle to design software that not only meets current
                client needs but also evolves alongside changing environments.
                Our approach orchestrates software components with a holistic
                perspective, anticipating how changes in one part can cascade
                throughout the system. This commitment yields robust, flexible,
                and future-ready solutions aligned with the dynamic nature of
                our clients' needs.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="block">
      <!-- Container -->
      <div
        class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
      >
        <!-- Component -->
        <div class="flex flex-col items-center">
          <a
            href="#"
            class="mb-8 inline-block max-w-full text-black font-bold flex items-center"
          >
            <i
              class="fa-solid fa-play fa-rotate-90 fa-2xs"
              style="color: #000000"
            ></i>
            <p class="text-lg tracking-widest mx-1">Sys.d Solutions</p>
          </a>
          <div class="max-[991px]: text-center font-semibold max-[991px]:py-1">
            <a
              href="/about"
              class="inline-block px-6 py-2 font-normal text-black transition hover:text-[#d6a701]"
              >About</a
            >
            <!-- <a
              href="#"
              class="inline-block px-6 py-2 font-normal text-black transition hover:text-[#d6a701]"
              >Features</a
            > -->
            <a
              href="#"
              class="inline-block px-6 py-2 font-normal text-black transition hover:text-[#d6a701]"
              >Portfolio</a
            >
            <a
              href="/faq"
              class="inline-block px-6 py-2 font-normal text-black transition hover:text-[#d6a701]"
              >FAQs</a
            >
            <a
              href="#"
              class="inline-block px-6 py-2 font-normal text-black transition hover:text-[#d6a701]"
              >Support</a
            >
          </div>
          <div
            class="mb-8 mt-8 w-48 [border-bottom:1px_solid_rgb(0,_0,_0)]"
          ></div>
          <div
            class="mb-12 grid w-full max-w-[208px] grid-flow-col grid-cols-4 gap-3"
          >
            <a
              href="#"
              class="mx-auto flex max-w-[24px] flex-col items-center justify-center"
            >
              <img
                src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358f65ff1579cbd64244573_FacebookLogo.svg"
                alt=""
                class="inline-block"
              />
            </a>
            <a
              href="#"
              class="mx-auto flex max-w-[24px] flex-col items-center justify-center"
            >
              <img
                src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358f65864ee6f4870bbe5cb_InstagramLogo.svg"
                alt=""
                class="inline-block"
              />
            </a>
            <a
              href="#"
              class="mx-auto flex max-w-[24px] flex-col items-center justify-center"
            >
              <img
                src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358f65ab9fdec6c06b596f6_SlackLogo.svg"
                alt=""
                class="inline-block"
              />
            </a>
            <a
              href="#"
              class="mx-auto flex max-w-[24px] flex-col items-center justify-center"
            >
              <img
                src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358f65b64ee6f2f15bbe5e0_TwitterLogo.svg"
                alt=""
                class="inline-block"
              />
            </a>
          </div>
          <p class="max-[479px]:text-sm">
            © Copyright 2018. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
