<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      {{template "head.html" .}}
    </head>
  </head>
  <script>
    function submitForm(event) {
      event.preventDefault();

      const emailInput = document.getElementById("email-input");
      const email = emailInput.value;

      const jsonData = JSON.stringify({ email });

      const submitButton = document.getElementById("submit-button");

      fetch("/api/v1/subscribe", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: jsonData,
      })
        .then((response) => response.json())
        .then((data) => {
          // Handle the response
          console.log(data);

          // Check the status in the response
          if (data.status === "success") {
            // Update the button to a green tick
            submitButton.classList.remove("bg-[#276ef1]");
            submitButton.classList.add("bg-green-500");
            submitButton.value = "✅ Subscribed";
          } else {
            submitButton.classList.remove("bg-[#276ef1]");
            submitButton.classList.add("bg-[#f1aa27]");
            submitButton.value = "❌ Failed";
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  </script>

  <body>
    <!-- Navbar Dropdown 1 row -->
    <section>{{ template "header.html" }}</section>

    <main>
      <section>
        <!-- Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- Title -->
          <h2 class="mb-8 text-3xl font-bold md:text-5xl lg:mb-14">
            Meet Sys.d
          </h2>
          <p class="mb-8 max-w-lg text-sm text-[#808080] sm:text-base lg:mb-24">
            Based in Asia, our young and open-minded mindset allows us to adapt
            and thrive in the ever-evolving tech landscape.
            <br />
            <br />
            Whether you need a custom solution, a WordPress website, or a
            Shopify integration, Sys.d is here to tailor our expertise to match
            your unique requirements. Beyond development, we offer consultation
            services for offshoring, ensuring that your business benefits from
            strategic and efficient solutions.
          </p>

          <div class="grid gap-10 lg:grid-cols-2 lg:gap-12">
            <img
              src="/images/people-studying.jpg"
              alt=""
              class="inline-block h-full w-full rounded-2xl object-cover"
            />
            <div
              class="flex flex-col gap-5 rounded-2xl border border-solid border-black p-10 sm:p-20"
            >
              <h2 class="text-3xl font-bold md:text-5xl">What is Sys.d</h2>
              <p class="text-sm text-[#808080] sm:text-base">
                Sys.d, shorthand for System Dynamics, is our foundational
                principle for understanding intricate relationships and
                behaviors within dynamic systems over time. In software
                development, it means gaining insights into how diverse
                components interact within a broader framework, ensuring our
                solutions aren't standalone but harmonize seamlessly.
                <br />
                <br />
                At Sys.d, System Dynamics guides our philosophy. We leverage
                this principle to design software that not only meets current
                client needs but also evolves alongside changing environments.
                Our approach orchestrates software components with a holistic
                perspective, anticipating how changes in one part can cascade
                throughout the system. This commitment yields robust, flexible,
                and future-ready solutions aligned with the dynamic nature of
                our clients' needs.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="block">{{template "footer.html"}}</footer>
  </body>
</html>
