<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      {{template "head.html" .}}
    </head>
  </head>
  <body>
    <!-- Navbar Dropdown 1 row -->
    <section>{{ template "header.html" }}</section>

    <main>
      <!-- Section FAQ -->
      <section>
        <!-- FAQ Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- FAQ Title -->
          <div class="mb-8 text-center md:mb-12 lg:mb-16">
            <p class="text-sm font-bold uppercase text-[#276ef1]">FAQS</p>
            <h2 class="text-3xl font-bold md:text-5xl">Frequently Asked</h2>
            <p class="mx-auto mt-4 max-w-lg text-[#647084]">
              Got a question? See if you can find it below.
            </p>
          </div>
          <!-- FAQ Content -->
          <div class="mb-12 flex flex-col items-center">
            <!-- Updated FAQ Item -->
            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  What services does Grapnel offer?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  We offers a range of software development services, including
                  custom software solutions, website development (both custom
                  and on platforms like WordPress and Shopify), and consultation
                  services for offshoring.
                </p>
              </div>
            </div>

            <!-- Updated FAQ Item -->
            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">Where is Grapnel based?</p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  Grapnel is based in Vietnam, Asia, operating within a dynamic
                  tech environment that allows us to bring a fresh and global
                  perspective to our software development projects.
                </p>
              </div>
            </div>
            <!-- Updated FAQ Item -->
            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  What sets Grapnel apart from other software development
                  companies?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  At Grapnel, our team brings a unique blend of experience from
                  tech start-ups and tertiary industries. Our young and open
                  mindset allows us to adapt swiftly to industry trends,
                  ensuring innovative and forward-thinking solutions for our
                  clients.
                </p>
              </div>
            </div>
            <!-- Updated FAQ Item -->
            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  What technologies does Grapnel specialize in?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  Grapnel specializes in a wide range of technologies to
                  accommodate diverse client needs. We are proficient in custom
                  software development, WordPress, Shopify, and more. Our team
                  is adaptable and stays current with the latest industry
                  trends.
                </p>
              </div>
            </div>
            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  Can Grapnel handle both small and large-scale projects?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  Absolutely. Grapnel has experience working on a variety of
                  projects, from small-scale solutions to large enterprise-level
                  applications. Our flexible and scalable approach allows us to
                  tailor our services to meet the specific needs of each client.
                </p>
              </div>
            </div>

            <!-- Updated FAQ Item -->

            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  Can Grapnel assist with offshoring and outsourcing solutions?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  Certainly. Grapnel offers consultation services to guide
                  businesses through the process of offshoring and outsourcing.
                  We provide insights and strategies to optimize your global
                  workforce and enhance operational efficiency.
                </p>
              </div>
            </div>

            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  How can I get started with Grapnel for my project?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  Getting started with Grapnel is easy. Simply reach out to us
                  through our contact page, and one of our team members will
                  connect with you to discuss your project requirements and
                  provide you with a personalized solution.
                </p>
              </div>
            </div>

            <div
              x-data="{ open: false }"
              class="w-full mb-6 max-w-4xl border-b-[2px] border-[#dfdfdf] p-8"
            >
              <div
                @click="open = !open"
                class="flex cursor-pointer justify-between items-center"
              >
                <p class="text-xl font-bold">
                  What industries does Grapnel cater to?
                </p>
                <div class="relative ml-2 h-5 w-5 items-center justify-center">
                  <span x-show="!open" class="text-[#276ef1] font-bold text-2xl"
                    >+</span
                  >
                  <span x-show="open" class="text-[#276ef1] font-bold text-2xl"
                    >−</span
                  >
                </div>
              </div>
              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="my-4"
              >
                <p>
                  Grapnel has experience working across various industries,
                  including technology, e-commerce, healthcare, and more. Our
                  adaptable approach allows us to tailor our services to meet
                  the unique needs of clients from different sectors.
                </p>
              </div>
            </div>
            <!-- FAQ Text -->
            <p class="text-center">
              Can’t find the answer you’re looking for? Reach out to our
              <a href="#">customer support team</a>.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="block">{{template "footer.html"}}</footer>
  </body>
</html>
