<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head.html" .}}
    <script src="/scripts/index.js"></script>
  </head>

  <body>
    <!-- Navbar Dropdown 1 row -->
    <section>{{ template "header.html" }}</section>

    <main>
      <!-- Hero Container -->
      <div
        class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
      >
        <!-- Component -->
        <div
          class="grid grid-cols-1 items-center justify-items-start gap-8 sm:gap-20 lg:grid-cols-2"
        >
          <!-- Hero Content -->
          <div class="flex max-w-2xl flex-col items-start">
            <!-- Hero Title -->
            <h1 class="text-center mb-4 text-4xl md:text-6xl">
              Strategic Insights, Dynamic Solutions.
            </h1>
            <p
              class="flex w-full items-center justify-center mb-6 max-w-2xl text-center lg:text-base text-[#636262] md:mb-10 lg:mb-12"
            >
              The Website You Envision, Delivered Seamlessly. <br />
              Join our newsletter for expert tips on building online success.
            </p>
            <!-- Hero Form -->
            <div
              class="mb-5 w-full pb-8 md:mb-6 lg:mb-4 mx-auto flex justify-center"
            >
              <form
                id="email-form"
                name="email-form"
                method="get"
                class="flex items-center justify-center w-full max-w-[95%] space-x-4 sm:flex-row"
                onsubmit="submitForm(event)"
              >
                <div id="loading-spinner">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
                    >
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        dur="0.75s"
                        values="0 12 12;360 12 12"
                        repeatCount="indefinite"
                      />
                    </path>
                  </svg>
                </div>
                <input
                  id="email-input"
                  type="email"
                  class="flex-grow h-14 w-full bg-[#f2f2f7] px-6 py-3 text-sm text-[#333333] border border-[#f2f2f7] focus:border-[#3898ec] rounded-xl hidden"
                  maxlength="256"
                  name="email"
                  placeholder="Enter your email"
                  required=""
                  autocomplete="email"
                />

                <input
                  id="submit-button"
                  type="submit"
                  value="Subscribe"
                  class="h-14 w-64 cursor-pointer bg-[#276ef1] px-8 py-4 font-semibold text-white rounded-xl transition duration-300 shadow-lg hover:shadow-md hidden"
                />
              </form>
            </div>
            <!-- Hero Info -->
            <div
              class="grid w-full grid-flow-row grid-cols-3 gap-4 justify-center"
            >
              <div class="flex flex-col w-full justify-items">
                <h3
                  class="flex w-full justify-center font-bold text-[#276ef1] md:text-3xl text-xl"
                >
                  30+
                </h3>
                <p class="flex w-full justify-center text-[#636262]">Clients</p>
              </div>
              <div>
                <h3
                  class="flex w-full justify-center font-bold text-[#276ef1] md:text-3xl text-xl"
                >
                  500+
                </h3>
                <p class="flex w-full justify-center text-[#636262]">
                  Email Campaigns
                </p>
              </div>
              <div>
                <h3
                  class="flex w-full justify-center font-bold text-[#276ef1] text-xl md:text-3xl"
                >
                  50+
                </h3>
                <p class="flex w-full justify-center text-[#636262]">
                  Projects
                </p>
              </div>
            </div>
          </div>
          <!-- Hero Image -->
          <img
            src="/images/dashboard.jpg"
            alt=""
            class="inline-block h-full w-full max-w-[640px] rounded-2xl"
          />
        </div>
      </div>

      <!-- Section -->
      <section id="about">
        <!-- Container -->
        <div
          class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32"
        >
          <!-- Text -->
          <p class="text-center text-sm font-bold uppercase">3 easy steps</p>
          <h2 class="text-center text-3xl font-bold md:text-5xl">
            How we work
          </h2>
          <p class="mx-auto mb-12 mt-4 max-w-lg text-center text-[#647084]">
            We are a software company based in Asia. We specialise in delivering
            custom sites or e-commerce integrations for business owners, artists
            and entrepenuers.
          </p>
          <!-- Content -->
          <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3">
            <div
              class="flex flex-col gap-4 rounded-md border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-full bg-[#276ef1]"
              >
                <p class="text-xl font-bold text-white">1</p>
              </div>
              <p class="text-xl font-semibold">Get in touch</p>
              <p class="text-sm text-[#647084]">
                Get in touch with us at the link above to start the enquiry
                process.
              </p>
            </div>
            <div
              class="flex flex-col gap-4 rounded-md border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-full bg-[#276ef1]"
              >
                <p class="text-xl font-bold text-white">2</p>
              </div>
              <p class="text-xl font-semibold">Receive a consultation</p>
              <p class="text-sm text-[#647084]">
                Meet with one of our lead engineers and discuss the specifics of
                what you're looking for.
              </p>
            </div>
            <div
              class="flex flex-col gap-4 rounded-md border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
            >
              <div
                class="flex h-12 w-12 items-center justify-center rounded-full bg-[#276ef1]"
              >
                <p class="text-xl font-bold text-white">3</p>
              </div>
              <p class="text-xl font-semibold">Receive a quote</p>
              <p class="text-sm text-[#647084]">
                Receive your quote and decide if the process fits your needs.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Tools Section -->
      <section id="tools">
        <!-- Container -->
        <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
          <!-- Title -->
          <div class="mx-auto text-center">
            <h2 class="text-3xl font-bold md:text-5xl">
              Unleash Your Vision: Create, Customize, Enhance.
            </h2>
            <p
              class="mx-auto mb-8 mt-4 max-w-lg text-[#647084] md:mb-12 lg:mb-16"
            >
              Explore some of the tools and technologies we leverage to bring
              your ideas to life.
            </p>
          </div>
          <!-- Content -->
          <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3">
            <!-- React -->
            <div class="grid gap-4 rounded-md p-8 md:p-10">
              <i class="fa-brands fa-react fa-2xl" style="color: #5a96f5"></i>
              <p class="text-xl font-semibold">React</p>
              <p class="text-sm text-[#636262]">
                Harness the power of React for dynamic and interactive user
                interfaces.
              </p>
            </div>
            <!-- WordPress -->
            <div class="grid gap-4 rounded-md p-8 md:p-10">
              <i
                class="fa-brands fa-wordpress fa-2xl"
                style="color: #6296f5"
              ></i>
              <p class="text-xl font-semibold">WordPress</p>
              <p class="text-sm text-[#636262]">
                Create and customise scalable websites with the flexibility of
                WordPress.
              </p>
            </div>
            <!-- Shopify -->
            <div class="grid gap-4 rounded-md p-8 md:p-10">
              <i class="fa-brands fa-shopify fa-2xl" style="color: #6296f5"></i>
              <p class="text-xl font-semibold">Shopify</p>
              <p class="text-sm text-[#636262]">
                Build your online store or develop a custom integration with
                ease using the powerful features of Shopify.
              </p>
            </div>
            <!-- Node.js -->
            <div class="grid gap-4 rounded-md p-8 md:p-10">
              <i class="fa-brands fa-node fa-2xl" style="color: #6296f5"></i>
              <p class="text-xl font-semibold">Node.js</p>
              <p class="text-sm text-[#636262]">
                Harness the speed and efficiency of Node.js for building
                scalable and real-time applications, perfect for data processing
                and streaming.
              </p>
            </div>
            <!-- PHP -->
            <div class="grid gap-4 rounded-md p-8 md:p-10">
              <i class="fa-brands fa-php fa-2xl" style="color: #6296f5"></i>
              <p class="text-xl font-semibold">PHP</p>
              <p class="text-sm text-[#636262]">
                Utilize PHP for server-side scripting and building dynamic web
                pages.
              </p>
            </div>
            <!-- Go -->
            <div class="grid gap-4 rounded-md p-8 md:p-10">
              <i class="fa-brands fa-golang fa-2xl" style="color: #6296f5"></i>
              <p class="text-xl font-semibold">Go</p>
              <p class="text-sm text-[#636262]">
                Embrace the power and efficiency of Go for building robust,
                concurrent, and high-performance applications.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="block">{{template "footer.html"}}</footer>
    {{ template "toast.html" }}
  </body>
</html>
