<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#276ef1" />
<link rel="manifest" href="/manifest/manifest.json" />
<link rel="icon" href="/images/icons/favicon.ico" type="image/x-icon" />
<meta
  name="description"
  content="Sys.D Solutions - Unleash the potential of your online presence with our strategic insights and dynamic solutions. Specializing in custom website and e-commerce integration, we cater to business owners, artists, and entrepreneurs. Explore how we work in 3 easy steps and leverage leading technologies like React, WordPress, Shopify, Node.js, PHP, and Go to bring your vision to life. Join our newsletter for expert tips on building online success."
/>
<title>{{ .Title }}</title>
<link rel="stylesheet" href="/styles/output.css" />
<script src="//unpkg.com/alpinejs"></script>
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
<script
  src="https://kit.fontawesome.com/40fb23b75c.js"
  crossorigin="anonymous"
></script>
